@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

*[class^="desk"] {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

nav.navigation {
  height: 60px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
}

nav.navigation div.mobile-side-navigation-menu-container {
  position: fixed;
  left: 0;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-side-navigation {
  overflow-x: auto;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-navigation-top {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-navigation-top div.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-navigation-top div.top div.avatar-rounded {
  height: 70px;
  width: 70px;
  background: lightgrey;
  border-radius: 70px;
  position: relative;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-navigation-top div.top div.avatar-rounded span.indicator {
  position: absolute;
  height: 15px;
  width: 15px;
  background: red;
  right: 7px;
  border-radius: 15px;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-navigation-top div.top div.user-details {
  padding: 0 10px;
}

nav.navigation div.mobile-side-navigation-menu-container div.why-learn-room {
  padding: 15px 10px;
}

nav.navigation div.mobile-side-navigation-menu-container p.title {
  padding-bottom: 10px;
}

nav.navigation div.mobile-side-navigation-menu-container div.your-learning {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

nav.navigation div.mobile-side-navigation-menu-container div.your-learning a {
  display: block;
}

nav.navigation div.mobile-side-navigation-menu-container div.your-learning a.auth-link {
  padding: 10px 0;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

nav.navigation div.mobile-side-navigation-menu-container div.your-learning a.login {
  background: red;
  color: #fff;
}

nav.navigation div.mobile-side-navigation-menu-container div.your-learning a.signup {
  background: lightgrey;
  color: #333;
}

nav.navigation div.mobile-side-navigation-menu-container div.more-from-learn-room {
  padding: 10px;
}

nav.navigation div.mobile-side-navigation-menu-container div.more-from-learn-room a {
  display: block;
  margin-bottom: 10px;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-navigation-bottom {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-navigation-bottom ul li {
  padding: 10px 0;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-navigation-bottom ul li a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

nav.navigation div.mobile-side-navigation-menu-container.activate-sidenav {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-side-navigation {
  width: 75%;
  background: #fff;
  height: 100%;
  position: relative;
}

nav.navigation div.mobile-side-navigation-menu-container div.mobile-side-navigation button.close-btn {
  padding: 10px;
  background: transparent;
  font-size: 24px;
}

nav.navigation a.brand {
  color: #333;
  font-weight: bold;
  font-size: 19px;
}

nav.navigation div.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

nav.navigation div.mobile-menu a {
  color: #333;
}

nav.navigation div.mobile-menu svg {
  font-size: 18px;
  margin: 0 7px;
}

nav.navigation span.burger {
  display: inline-block;
  width: 30px;
  height: 18px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.navigation span.burger span {
  height: 3px;
  width: 100%;
  border-radius: 20px;
  display: block;
  background: #333;
}

header.banner {
  background: url(../assets/banner_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header.banner div.floating-message {
  background: #fff;
  padding: 20px;
}

header.banner div.floating-message h2 {
  padding-bottom: 10px;
}

footer.footer {
  padding: 20px;
  background: #2a3a47;
  color: #fff;
}

footer.footer select.choose-language {
  padding: 20px 20px;
  width: 200px;
  font-size: 1em;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: #fff;
}

footer.footer select.choose-language::-webkit-input-placeholder {
  color: #fff;
}

footer.footer select.choose-language:-ms-input-placeholder {
  color: #fff;
}

footer.footer select.choose-language::-ms-input-placeholder {
  color: #fff;
}

footer.footer select.choose-language::placeholder {
  color: #fff;
}

footer.footer nav.footer-navigation ul li {
  display: block;
}

footer.footer nav.footer-navigation ul li a {
  padding: 15px 0;
  color: #fff;
  display: inline-block;
  font-size: 15px;
}

.slashed {
  text-decoration: line-through;
}

.link-btn {
  padding: 12px;
  display: block;
}
/*# sourceMappingURL=base.css.map */