@media (min-width: 920px) {
  *[class^="desk"] {
    display: block;
  }
  div.desk-bottom-nav {
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid lightgrey;
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    z-index: 30;
  }
  div.desk-bottom-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  div.desk-bottom-nav ul li a {
    color: #333;
    font-size: 12px;
    font-weight: bold;
  }
  nav.navigation {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 70px;
  }
  nav.navigation span.burger {
    display: none;
  }
  nav.navigation a.brand {
    font-size: 20px;
    margin-right: 20px;
  }
  nav.navigation div.mobile-menu {
    display: none;
  }
  nav.navigation div.desk-search-container {
    border: 1px solid lightgrey;
    margin: 0 10px;
    padding: 5px 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 40px;
    font-size: 16px;
  }
  nav.navigation div.desk-search-container input {
    padding: 10px 0;
    width: 100%;
  }
  nav.navigation div.desk-nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.navigation div.desk-nav-menu ul li {
    display: inline-block;
    padding: 0 15px;
  }
  nav.navigation div.desk-nav-menu ul li a {
    color: #333;
    font-size: 14px;
  }
  nav.navigation div.desk-nav-menu ul li svg {
    font-size: 20px;
  }
  header.banner {
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  header.banner div.floating-message {
    left: 50px;
    top: 50px;
    z-index: 10px;
    position: absolute;
    width: 350px;
  }
  div.search-container {
    display: none;
  }
  div.recommended-courses-container div.recommended-courses-scrollable {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  div.recommended-courses-container div.recommended-courses-scrollable div.a-course {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    width: 300px;
  }
  div.recommended-topics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  div.become-instructor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #efefef;
  }
  div.become-instructor div {
    padding: 0 4em;
  }
  div.become-instructor div p {
    width: 500px;
  }
  footer.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer.footer select {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  footer.footer nav.footer-navigation ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
  }
}
/*# sourceMappingURL=media-query1.css.map */