div.course-preview-container div.video-container {
  position: relative;
}

div.course-preview-container div.video-container button.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.5em;
  background: transparent;
  cursor: pointer;
}

div.course-preview-container div.video-container img {
  min-width: 100%;
}

div.course-preview-container div.about-course {
  padding: 1em;
}

div.course-preview-container div.about-course h3.title {
  padding-bottom: 10px;
}

div.course-preview-container div.about-course p.description {
  padding: 10px 0;
}

div.course-preview-container div.about-course div.star-rating div.star-rating-container {
  padding: 10px 0;
  position: relative;
}

div.course-preview-container div.about-course div.star-rating div.star-rating-container span.star {
  color: gold;
  margin-right: 10px;
}

div.course-preview-container div.about-course div.star-rating div.star-rating-container span.total-students {
  position: absolute;
  right: 0;
}

div.course-preview-container div.about-course div.star-rating div.created-by {
  padding: 10px 0;
}

div.course-preview-container div.about-course div.star-rating div.created-by a {
  color: green;
}

div.course-preview-container div.about-course div.star-rating div.offers {
  padding: 10px 0;
}

div.course-preview-container div.about-course div.star-rating div.offers div.an-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

div.course-preview-container div.about-course div.star-rating div.offers div.an-offer span {
  margin-left: 15px;
}

div.course-preview-container div.price-and-add {
  padding: 10px;
}

div.course-preview-container div.price-and-add div.price {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.course-preview-container div.price-and-add div.price span {
  margin-right: 15px;
}

div.course-preview-container div.price-and-add p.price-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

div.course-preview-container div.price-and-add p.price-count svg {
  margin-right: 10px;
}

div.course-preview-container div.price-and-add a.link-btn {
  display: block;
  width: 100%;
  background: #f71d1d;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
}

div.course-preview-container div.price-and-add p.price-durations {
  padding: 10px;
  text-align: center;
}

div.course-preview-container div.price-and-add div.other-actions button {
  display: block;
  width: 100%;
  background: transparent;
  border: 1px solid green;
  padding: 15px 10px;
  margin-bottom: 8px;
  color: green;
}

div.course-preview-container div.what-you-will-learn {
  width: 90%;
  margin: 0 auto;
  background: #c0ffa7;
  padding: 10px;
}

div.course-preview-container div.what-you-will-learn h3 {
  padding-bottom: 10px;
}

div.course-preview-container div.what-you-will-learn p {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.course-preview-container div.what-you-will-learn p svg {
  margin-right: 20px;
}

div.course-preview-container div.course-content {
  padding: 10px;
}

div.course-preview-container div.course-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

div.course-preview-container div.course-content div span {
  font-size: 0.9em;
  margin-right: 10px;
}

div.course-preview-container div.course-includes {
  padding: 10px;
}

div.course-preview-container div.course-includes h3 {
  padding-bottom: 10px;
}

div.course-preview-container div.course-includes div {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.course-preview-container div.course-includes div svg {
  margin-right: 20px;
  font-size: 20px;
}

div.course-preview-container div.requirements-description {
  padding: 10px;
}

div.course-preview-container div.requirements-description h3 {
  padding-bottom: 10px;
}

div.course-preview-container div.requirements-description p {
  padding: 10px 0;
}

div.course-preview-container div.instructor-and-feedback {
  padding: 10px;
}

div.course-preview-container div.instructor-and-feedback h3 {
  padding-bottom: 15px;
}

div.course-preview-container div.instructor-and-feedback p.about {
  padding: 10px 0;
}

div.course-preview-container div.reviews {
  padding: 10px;
}

div.course-preview-container div.reviews h3 {
  padding: 10px 0;
}

div.course-preview-container div.reviews div.reviews-container div.user-review div.rating-and-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

div.course-preview-container div.reviews p.review-message {
  padding-bottom: 10px;
}

div.course-preview-container div.reviews div.reaction {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.course-preview-container div.reviews div.reaction button {
  margin-right: 10px;
  font-size: 1.2em;
  background: transparent;
}
/*# sourceMappingURL=preview_course.css.map */