div.class_room {
  padding: 20px;
}

div.class_room div.board div.left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  padding: 0 10px;
}

div.class_room div.board div.left svg {
  position: relative;
}

div.class_room div.board div.left div.topic-list {
  position: absolute;
  width: 300px;
  background: #fff;
  z-index: 20;
  min-height: 100vh;
  padding: 20px;
  display: none;
}

div.class_room div.board div.left div.topic-list.menu-out {
  display: block;
}

div.class_room div.board div.left div.topic-list li {
  padding: 10px 0;
}

div.class_room div.board div.right {
  padding: 0 15px;
}

div.class_room div.board div.right h3.current-topic {
  padding-bottom: 15x;
}

div.class_room div.other-topics {
  padding: 20px 0;
}

div.class_room div.other-topics div.other-topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

div.class_room div.other-topics div.other-topic div.thumbnail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

div.class_room div.other-topics div.other-topic div.about-topic {
  padding: 0 10px;
}

div.class_room div.other-topics div.other-topic div.about-topic p {
  padding-bottom: 10px;
}

div.class_room div.other-topics div.other-topic div.about-topic button {
  width: 100%;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.class_room div.other-topics div.other-topic div.about-topic button span {
  margin-right: 5px;
  color: purple;
}

div.class_room div.other-topics div.other-topic div.about-topic button span svg {
  font-size: 16px;
}

div.choose-us {
  padding: 20px;
}

div.choose-us div.reason {
  text-align: center;
  padding: 30px 10px;
}

div.choose-us div.reason svg {
  font-size: 50px;
}

div.choose-us div.reason h3 {
  padding: 15px 0;
}

div.loader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 10px 0;
}

div.loader-container div.placeholder-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  margin-right: 30px;
  opacity: 0;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

div.loader-container div.placeholder-container div.thumbnail {
  height: 120px;
  width: 100%;
  background: #cacaca;
  margin-bottom: 20px;
}

div.loader-container div.placeholder-container div.title {
  width: 80%;
  height: 5px;
  background: #cacaca;
  border-radius: 8px;
}

div.loader-container div.placeholder-container div.text {
  width: 100%;
  height: 8px;
  margin: 10px 0;
  background: #cacaca;
  border-radius: 8px;
}

div.loader-container div.placeholder-container div.text:nth-child(2) {
  width: 75%;
}

@-webkit-keyframes blink {
  to {
    opacity: 1;
  }
}

@keyframes blink {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style3.css.map */