div.class_room {
  padding: 20px;
  div.board {
    div.left {
      flex: 0 0 50px;
      padding: 0 10px;
      svg {
        position: relative;
      }
      div.topic-list {
        position: absolute;
        width: 300px;
        background: #fff;
        z-index: 20;
        min-height: 100vh;
        padding: 20px;
        display: none;

        &.menu-out {
          display: block;
        }
        li {
          padding: 10px 0;
        }
      }
    }
    div.right {
      padding: 0 15px;

      h3.current-topic {
        padding-bottom: 15x;
      }
    }
  }

  div.other-topics {
    padding: 20px 0;
    div.other-topic {
      display: flex;
      padding: 15px 0;
      div.thumbnail {
        flex: 0 0 150px;
      }
      div.about-topic {
        padding: 0 10px;
        p {
          padding-bottom: 10px;
        }

        button {
          width: 100%;
          padding: 5px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            margin-right: 5px;
            color: purple;
            svg {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

// choose-us

div.choose-us {
  padding: 20px;
  div.reason {
    text-align: center;
    padding: 30px 10px;
    svg {
      font-size: 50px;
    }

    h3 {
      padding: 15px 0;
    }
  }
}
